<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Layout with Flexbox and CSS Grid</title>
</head>

<body class="container">
  <header>
    <nav>
      <div>About</div>
      <div>Software</div>
      <div>Our Team</div>
      <div class="buffer"></div>
      <div>Contact</div>
      </ul>
    </nav>
  </header>

  <section class="hero red">
    <h1>Cool project!</h1><br>
    <a id="subscript" href="index2.html">version 2</a>
  </section>

  <section class="tiles">
    <div class="zone dark">😺</div>
    <div class="zone dark">😹</div>
    <div class="zone dark">😻</div>
    <div class="zone dark">😼</div>
    <div class="zone dark">😽</div>
    <div class="zone dark">🙀</div>
    <div class="zone dark">😿</div>
    <div class="zone dark">😾</div>
  </section>

  <footer class="dark">
    <h1>I made this website!</h1>
  </footer>
</body>

</html>