<!DOCTYPE html>
<html>

<head>
  <title>Website Layout</title>
  <link rel="stylesheet" type="text/css" href="style2.css">
</head>

<body>
  <nav class="zone green">
    <ul class="main-nav">
      <li><a href="">About</a></li>
      <li><a href="">The Animals</a></li>
      <li><a href="">Our Team</a></li>
      <li class="push"><a href="">Contact</a></li>
    </ul>
  </nav>
  <div class="container zone red">Cover!!</div>
  <div class="zone blue grid-wrapper">
    <div class="box zone"><img src="https://pbs.twimg.com/profile_images/664169149002874880/z1fmxo00_400x400.jpg"></div>
    <div class="box zone"><img src="https://apprecs.org/ios/images/app-icons/256/db/387228379.jpg"></div>
    <div class="box zone"><img src="https://polybit-apps.s3.amazonaws.com/stdlib/users/random-duck/profile/image.png?1643053848351"></div>
    <div class="box zone"><img src="https://i.pinimg.com/736x/35/1c/d0/351cd002840d4c7de70e54da54570135.jpg"></div>
    <div class="box zone"><img src="https://styles.redditmedia.com/t5_s7vnp/styles/communityIcon_beo9p527h1221.jpg"></div>
    <div class="box zone"><img src="https://pbs.twimg.com/profile_images/606452268477448194/Urjya1qL_400x400.jpg"></div>
    <div class="box zone"><img src="https://i.pinimg.com/474x/00/a1/b3/00a1b3cc4091401aacbc0d7bf48fea30--families-html.jpg"></div>
    <div class="box zone"><img src="https://pbs.twimg.com/profile_images/663901308814934016/OLd1V4CQ_400x400.jpg"></div>
  </div>

  <footer class="zone gold">
    <ul class="main-nav">
      <li><a href="index3.html">version 3</a></li>
      <li class="push"><a href="">A reactive layout of animals!</a></li>
    </ul>
  </footer>
</body>

</html>