<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Layout with Flexbox and CSS Grid</title>
  </head>

  <body>
    <h1>Layouts with CSS Grid and Flexbox</h1>
    <div class="container">
      <div class="zone green">😺</div>
      <div class="zone red">😹</div>
      <div class="zone blue">😻</div>
      <div class="zone dark">😼</div>
      <div class="zone green">😽</div>
      <div class="zone blue">🙀</div>
      <div class="zone dark">😿</div>
      <div class="zone red">😾</div>
      <div class="zone blue">😸</div>
    </div>
  </body>

</html>