body {
  margin: 0;
  font-family: 'Arial';
}

.zone {
  cursor: pointer;
  color: #fff;
  font-size: 2em;
  border-radius: 4px;
  border: 1px solid #888;
  transition: all 0.3s linear;
}

.zone:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3) inset;
}

.blue {
  background: linear-gradient(rgb(72, 72, 255), rgb(26, 26, 178));
}

.gold {
  background: linear-gradient(rgb(251, 173, 30), rgb(221, 150, 6));
}

/* NAV BAR */

.main-nav {
  display: flex;
  list-style: none;
  font-size: 0.7em;
  margin: 0;
  padding: 0;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .main-nav {
    font-size: 0.5em;
    padding: 0;
  }
}

li {
  padding: 20px;
}

.push {
  margin-left: auto;
}

a {
  color: #eee;
  text-decoration: none;
}

/* COVER */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.cover {
  height: 100%;
}

/* GRID */
.grid-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
  padding: 20px;
}

.box > img {
  width: 100%;
  display: block;
}

.box {
  background-color: #333;
  padding: 130px;
}

.box:hover {
  transform: rotate(3deg);
}

/* FOOTER */
footer {
  text-align: center;
}